<div class='container'>
		<h3 id='awesomeGuarantee'>Guaranteed Awesome!</h3>
		<h1 id='welcomeHeader'> <em> <strong>Welcome to MEAN Tea!</strong></em></h1>
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
      			<ul class="nav navbar-nav">
        			<li><a href="/#/">Home </a></li>
        			<li><a href="/#/">About</a></li>
        			<li><a href="/#/">Contact</a></li>
        		</ul>
        	</div>
		</nav>
		<div id='searchOptions'>
			Search by Category: 
			<select id='dropDown' ng-model='tea.dropDown'>
				<option value="awesome">Awesome</option>
				<option value="dark">Dark</option>
				<option value="dry">Dry</option>
				<option value="lucid">Lucid</option>
				<option value="hot">Hot</option>
				<option value="warm">Warm</option>
				<option value="cold">Cold</option>
				<option value="winter">Winter</option>
				<option value="spring">Spring</option>
				<option value="summer">Summer</option>	
			</select>
			Search by Name:
			<input type="text" id="searchBox" ng-model='search.box'>
		</div>
		<div id='thankyou'>
			<h1> 
				Thank You For Your Order! 
			</h1>
			<h3>
				An email with the details of your order will follow shortly.
			</h3>
		</div>
	</div>

			